*{
    margin:0;
    }
    
    
    .carousel-item img{
        height:400px;
    }
.footer{
    min-height: 50px;
}  
.club{
    text-align: center;
    
}
.nasiks{
    background-color: black;
    
}


    